html,body{
  width:100%;
  height:100%;
  background-color: #222;
}
.content{
  width: 100%;
  height: 100%;
}
/*stage--start*/
.stage{
  position: relative;
  width:100%;
  height: 680px;
}
/*stage--end*/
/*image--start*/
.img-sec{
  position: relative;
  width:100%;
  height: 100%;
  background-color: #ddd;
  overflow: hidden;
  /*既想表现样式的层级关系,又想生成的css代码放在最外层,所以用这个*/
  @at-root{
      .img-figure{
        position: absolute;
        width:320px;
        height:360px;
        margin:0;
        padding:40px;

        background-color:#fff;
        /*规定两个并排的带边框的框：*/
        box-sizing:border-box;
      }

    figcaption{
      text-align: center;

      .img-title{
          margin:20px 0 0 0;
          color:#a7a0a2;
          font-size: 16px;
      }
    }  
  }
}
/*image--end*/
/*controller--start*/
.controller-nav{
  position: absolute;
  width:100%;
  left:0;
  bottom:30px;
  z-index: 101;
  text-align: center;

}
/*controller--end*/